venv/
__pycache__/
*.pyc
.env
.venv/
.streamlit/
database/*.db
database/*.sqlite
Course-Recommendation/venv_sanjayan/
Course-Recommendation/venv_sanjayan_cr/
Course-Recommendation/recommendations_*.csv
Risk-Prediction/venv_nazib_rp